body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3D5467;
    color: #DB5461;
    font-family: Arial;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 5px 5px rgba(0,0,0,0.1);
}

.other {
    font-size: 0.6em;
}
#nameContainer {
    display: flex;
    flex-direction: row;

    font-size: 15em;
    font-weight: bold;

    animation-name: nameContainerAppear;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    opacity: 0;
    cursor: pointer;
}
@keyframes nameContainerAppear {
    0% {
        opacity: 0;
        transform: translateY(-3000px);
    }
    60% {

        transform: translateY(25px);
    }
    75% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#name {
    width: .5em;
    overflow-x: hidden;
}
#name.showName:hover {
    animation-name: nameMove;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
#name.showAlias {
    animation-name: nameAliasMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
#name.resetAlias {
    animation-name: nameAliasResetMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes nameMove {
    0% {
        width: .5em;
    }
    100% {
        width: 1.6em;
    }
}
@keyframes nameAliasMove {
    0% {
        transform: translateX(0);
        width: .5em;
    }
    50% {
        transform: translateX(0);
        width: .9em;
    }
    80% {
        transform: translateX(0);
        width: .9em;
    }
    100% {
        transform: translateX(2.7em);
        width: .9em;
    }
}
@keyframes nameAliasResetMove {
    0% {
        transform: translateX(2.7em);
        width: .9em;
    }
    50% {
        transform: translateX(0);
        width: .9em;
    }
    80% {
        transform: translateX(0);
        width: .9em;
    }
    100% {
        transform: translateX(0);
        width: .5em;
    }
}


#firstLastName {
    width: 0.6em;
    overflow-x: hidden;
}
#firstLastName.showName:hover {
    animation-name: firstLastNameMove;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
#firstLastName.showAlias {
    animation-name: firstLastNameAliasMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
#firstLastName.resetAlias {
    animation-name: firstLastNameAliasResetMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes firstLastNameMove {
    0% {
        width: 0.6em;
    }
    100% {
        width: 3.1em;
    }
}
@keyframes firstLastNameAliasMove {
    0% {
        transform: translateX(0);
        width: 0.6em;
    }
    50% {
        transform: translateX(0);
        width: 1.5em;
    }
    80% {
        transform: translateY(1em);
        width: 1.5em;
    }
    100% {
        transform: translateX(-1em);
        width: 1.5em;
    }
}
@keyframes firstLastNameAliasResetMove {
    0% {
        transform: translateX(-1em);
        width: 1.5em;
    }
    50% {
        transform: translateY(1em);
        width: 1.5em;
    }
    80% {
        transform: translateX(0);
        width: 1.5em;
    }
    100% {
        transform: translateX(0);
        width: 0.6em;
    }
}

#secondLastName {
    width: 0.7em;
    overflow-x: hidden;
}
#secondLastName.showName:hover {
    animation-name: secondLastNameMove;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
#secondLastName.showAlias {
    animation-name: secondLastNameAliasMove;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
#secondLastName.resetAlias {
    animation-name: secondLastNameAliasResetMove;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes secondLastNameMove {
    0% {
        width: 0.7em;
    }
    100% {
        width: 3.1em;
    }
}
@keyframes secondLastNameAliasMove {
    0% {
        transform: translateX(0);
        width: 0.7em;
    }
    50% {
        transform: translateX(0);
        width: 1.3em;
    }
    80% {
        transform: translateY(-1em);
        width: 1.5em;
    }
    100% {
        transform: translateX(-1em);
        width: 1.3em;
    }
}
@keyframes secondLastNameAliasResetMove {
    0% {
        transform: translateX(-1em);
        width: 1.3em;
    }
    50% {
        transform: translateY(-1em);
        width: 1.5em;
    }
    80% {
        transform: translateX(0);
        width: 1.3em;
    }
    100% {
        transform: translateX(0);
        width: 0.7em;
    }
}

#socialContainer {
    cursor: pointer;
    font-size: 3em;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#socialContainer i {
    margin: .5em;
}
#socialContainer i:hover {
    color: #DB5461;
}
#socialContainer a {
    color: #8EA8C3;
}

#switch {
    font-size: 3em;
    color: #8EA8C3;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;

}
#switch i {
    cursor: pointer;
    margin-left: 15px;
}
#switch i.active {
    color: #DB5461;
}
